# DB volumes
.data/
*.db
*.sqlite

# Node/Next build artifacts
node_modules/
frontend/.next/

# Python caches
__pycache__/
*.pyc

# Git & env
.git/
venv/
.env
.env.*

INFO.md
TODO-project.md
TODO.md
workflow.md
